extend layout
block content
	h1 Hi there!
	p.
		This is some very cool info about Jade, which I hope I will come to love in time.
	p.
		Some more very cool content Nunc sollicitudin ultricies augue non ornare. Mauris lacinia lectus eros, ut tincidunt est ultricies sit amet. Mauris ultricies dolor enim, ac tempus magna venenatis.

block sidebar
	.block
		h1 Right Sidebar
		p.
			Yet some more testing contentNunc sollicitudin ultricies augue non ornare. Mauris lacinia lectus eros, ut tincidunt est ultricies sit amet. Mauris ultricies dolor enim, ac tempus magna venenatis.
		br.
		.readmore
			a(href="http://cnn.com") Find out what's New today