extend layout
block content
	h1 Hi there!
	p.
		This is some very cool info about Node.js and 
	ul.featurelist
		li.
			Express framework
		li.
			Jade template engine
		li.
			Stylus CSS generator
	br.
	p.
		as well as Nib, MongoDB, Monk  which I hope I will come to love in time.
	
	div.userlistlink
		p.
			To see all registered users, <a href="/userlist">click here</a>.
