doctype html
html
	head
		title #{title} - Node.js is cool!
		link(rel='stylesheet',href='/css/styles.css')
	body
		header
			.container
				h1 Node.js, Express, Jade, Stylus, Nib demo
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			.container
				p Copyright K&co &copy; 2014
